<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

   <!--spel(Spring Expression Language)-->

    <bean id="city" class="com.finleyamber.spring.di.spel.City" p:name="#{'beijing'}" p:population="#{10000000 + 20000000}" ></bean>


    <util:list id="cities">
        <bean class="com.finleyamber.spring.di.spel.City" p:name="beijing" p:population="#{T(java.lang.Math).PI*100000000}"></bean>
        <bean class="com.finleyamber.spring.di.spel.City" p:name="shanghai" p:population="#{200000000}"></bean>
    </util:list>

    <!--访问集合成员-->
    <bean id="chosenCity" class="com.finleyamber.spring.di.spel.ChosenCity" p:city="#{cities[1]}"></bean>

    <util:properties id="dbproperties" location="classpath:com/finleyamber/spring/di/spel/setting.properties"></util:properties>
</beans>